@import url('https://fonts.googleapis.com/css2?family=Roboto');

body, html, * {
    font-family: 'Roboto', sans-serif;
}
.text-bold {
  font-weight: bolder !important; 
  font-size: 18px!important;
  color: #4169E1!important; 
}
h1, h2, h3, h4, h5, h6 {
  font-weight: '800';
  font-family: 'Roboto', sans-serif;  

}


/* .my-bg-color {
  background-color: Azure !important;
} 
 */ 


 /* body {
  background-color: blue !important;
}
 */ 







/* html {
      background: #ADD8E6;
}

